$back-color: #eee;
$text-color: #666;
$font-size: 12px;
body {
  background: $back-color;
  color: $text-color;
}

p {
  font-size: $font-size;
  span {
    color: $text-color;
  }
}

div.my-background {
  background: url("../img/owl.jpg");
}

.one {
  border: 1px solid red;
  .two {
    color: red;
  }
}